/* Standard styling for larger screens */
.about-container {
  padding: 80px 10%;
  overflow: hidden;
}

.photo {
  width: 45%;
  float: left;
  padding-right: 20px;
}

.photo img {
  width: 100%;
  height: auto;
}

.text {
  width: 50%;
  float: right;
}

.photo-and-text h1 {
  font-size: 2rem;
}

.photo-and-text h2 {
  font-size: 1.3rem;
}

.divider {
  height: 2px;
  background-color: var(--color);
  margin: 20px 100% 20px 0;
  width: 30%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-container {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }

  .photo {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  .text {
    width: 100%;
    float: none;
    margin-top: 20px;
  }
}