  /* Portfolio tiles */

  main {
    display: flex;
    justify-content: center;
    margin: 5% 0;
  }

  .portfolio-container {
    display: block;
    width: 80%;
  }

  .portfolio-tile {
    padding: 20px;
    width: 100%;
    background-color: #f5f5f5; /* Slightly off white */
    box-sizing: border-box
  }

  .portfolio-tile:not(:first-child) {
    margin-top: 3%;
  }

  .tile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .tile-content > div {
    width: 34%;
    margin: 15px 0;
    position: relative;
  }

  .tile-content > div > a.intro-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
  }

  .tile-content > a {
    position: relative;
    width: 33%; /* Adjust based on your design */
    overflow: hidden; /* Add this line */
  }

  /* Style for the white box */
  .tile-content > a:nth-of-type(odd)::before {
    content: "Before";
  }
  
  .tile-content > a:nth-of-type(even)::before {
    content: "After";
  }
  
  /* Style for the white box */
  .tile-content > a::before {
    color: white;
    position: absolute;
    left: 0;
    background-color: var(--color);
    padding: 5px 10px; /* Adjust padding as needed */
    min-width:63px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .tile-content > a > img {
    width: 100%; /* Adjust based on your design */
    height: 380px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease; /* Add transform to the transition */
  }
  
  .tile-content img:hover {
    filter: brightness(50%);
    transform: scale(1.05); /* Adjust this value as needed */
  }

  .tile-content p {
    margin: 0;
  }

   /* Media query for smaller screens */
   @media (max-width: 900px) {

    .tile-content {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      gap: 30px;
    }

    .tile-content > div > a.intro-button {
      display: block;
      padding: 10px;
      position: relative;
      width: fit-content;
      margin-top: 15px;
    }

    .portfolio-tile:nth-child(2n) .tile-content {
      flex-direction: column-reverse;
    }
    
    .tile-content > a {
      width: 100%; /* Images fill the entire width of the container */
    }
    
    .tile-content > div {
      width: 100%; /* Divs also fill the entire width of the container */
    }
    
    .tile-content p {
      margin: 0;
    }
    
  }

/* MISCELLANEOUS */

.intro-line {
  margin: 20px 0;
}
